/* common aera design */
*{
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}

.text-primary{

    color: #FD6E0A;
}

.btn-primary{
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    
    background-color: #FD6E0A;
    color: white;
    font-size: 18px;
    font-weight: 700;
   
    
}

/* nave bar design */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 20px;
    
}
nav a{
    text-decoration: none;
    color:#474747;
}
